<main class="contenedor contenedor-formularios">
    <h1><%- nombrePagina %></h1>
    <form class="default-form" action="/crear-cuenta" method="post">
      <div class="campo">
        <label>E-mail</label>
        <input type="email" name="email" placeholder="Tu E-mail">
      </div>
      <div class="campo">
        <label>Nombre</label>
        <input type="text" name="nombre" placeholder="Tu Nombre">
      </div>
      <div class="campo">
        <label>Password</label>
        <input type="password" name="password" placeholder="Tu Password">
      </div>
      <div class="campo">
        <label>Repite Password</label>
        <input type="password" name="repetir" placeholder="Repite tu Password">
      </div>
      <div class="campo enviar">
        <input type="submit" name="btn btn-rosa" value="Crear cuenta">
      </div>
    </form>
</main>
